/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
  ========================================================================== */


html {
    color: rgb(51, 51, 51);
    font-size: 1em;
    line-height: 1.4;
}

:root {
    --main-first-color: rgb(255, 159, 83);
    --main-second-color: rgb(64, 2, 79);
    --main-third-color: rgb(204, 204, 204);
    --main-first-backround:rgb(245,249,252);

    --main-first-font: 'Lato', sans-serif;


  }
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #ffffff;
}


/*******GLOBALES******/


h1{
    color: var(--main-second-color);
    font-family: 'Lato', sans-serif; 
}

h2 {
    font-family: 'Lato', sans-serif; 
    color: var(--main-second-color);
    font-size: 2.4em;
    text-align: center;
}


h3 {

    font-size: 1.8em;
    color: #fe4918;
    font-family: 'Lato', sans-serif; 
    margin: 0;
}

p {
    font-family: 'Lato', sans-serif; 
}

.boton-principal {
    font-family: 'Lato', sans-serif; 
    background-color: var(--main-first-color);
    padding: 10px 40px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 1em;
    margin-top: 20px;
    display: inline-block;
    border-radius: 10px;
}

.boton-secundario {
    font-family: 'Lato', sans-serif; 
    background-color: var(--main-second-color);
    padding: 10px 40px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    font-size: 1em;
    margin-top: 20px;
    display: inline-block;
    border-radius: 10px;
}


.button:hover {
    background-color: #ffffff;
}

.button.hollow,
.button.hollow:hover {
    background: #fff;
    color: #fe4918;
    border-radius: 10px;
}

/* .button.transparente {
    color: white;
    background: transparent;
    border: 2px solid #FFFFFF;
} */

.button.transparente:hover {
    border: 2px solid #fe4918;
    color: #fe4918;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.float-right {
    float: right;
}

.contenedor {
    width: 98%;
    margin: 0 auto;
}

@media only screen and (min-width: 480px) {
    .contenedor {
        width: 95%;
    }
}

@media only screen and (min-width: 768px) {
    .contenedor {
        width: 90%;
    }
}

@media only screen and (min-width: 992px) {
    .contenedor {
        width: 90%;
        max-width: 1100px;
    }
}

.seccion {
    padding: 30px 0;
}

.seccion p {
    font-size: 1.2em;
    text-align: center;
}


/*Lettering*/

h1.nombre-sitio span {
    position: left;
    color: var(--main-first-color);
}

span {
    color: var(--main-first-color);
    font-weight: 600;
}

@media only screen and (min-width:992px) {
    .char1 {
        top: 20px;
        right: 20px;
    }
    .char2 {
        top: 0px;
        left: -20px;
    }
    .char3 {
        top: 10px;
        right: 20px;
    }
    .char4 {
        top: 5px;
        right: 10px;
    }
    .char5 {
        top: 15px;
        right: 10px;
    }
    .char6 {
        top: 5px;
        right: 10px;
    }
    .char7 {
        top: 20px;
        left: -10px;
    }
    .char8 {
        top: 0;
        left: 10px;
    }
    .char9 {
        top: 10px;
        right: -20px;
    }
    .char10 {
        top: 30px;
        right: -15px;
    }
}


/**Header**/

.hero {
    margin: 50px 20px;
    background-color: rgb(245, 249, 252);
    width: 90%;
    height: 100vh;
    border-radius: 50px;
    background-position: top center;
    -webkit-background-size: cover;
    background-size: cover;
}

.contenido-header {
    padding-top: 40px;
}

@media only screen and (min-width: 768px) {
    .contenido-header {
        padding-top: 10px;
    }
}

nav.redes-sociales {
    float: right;
}

nav.redes-sociales a {
    color: #000000;
    font-size: 1em;
    margin-right: 20px;
}

nav.redes-sociales a:last-child {
    margin-right: 0;
}

.informacion-empresa {
    text-align: center;
    color: #000000;
}

@media only screen and (min-width: 768px) {
    .informacion-empresa {
        width: 70%;
        margin: 0 auto;
        margin-top: 50px;
    }
}

.informacion-empresa p {
    margin: 0;
    display: inline;
    font-size: 20px;
}

.informacion-empresa p i {
    color: #fe4918;
    font-size: 1.4rem;
    margin-right: 10px;
}

p.ciudad {
    display: block;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .logo {
        float: left;
    }
    .logo a {
        text-transform: lowercase;
        color: #000;
        text-decoration: none;
    }
    
    .informacion-empresa p i {
        color: #fe4918;
        font-size: 2.4rem;
        margin-right: 10px;
    }
}

/* p.slogan {
    text-transform: none !important;
}

p.slogan span {
    font-weight: bold;
} */

h1.nombre-sitio {
    font-size: 5.9vw;
    font-family: 'Lato', sans-serif; 
    font-weight: 700;
}

@media only screen and (min-width:768px) {
    h1.nombre-sitio {
        font-size: 5.5vw;
        margin: 0;
        line-height: 1;
    }
}


/*BARRA*/

.barra {
    background-color: #ffffff;
    padding: 20px 0;
}

.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.logo {
    
    color: grey;
    width: 80%;
    float: left;
    
}

.logo i  {
    color: var(--main-first-color);
}

.logo span  {
    color: var(--main-first-color);
    font-weight: 900;
}
.logo p {
    color: ;
}

.boton-secundario {

}

@media only screen and (min-width:768px) {
    .logo {
        width: 33%;
    }
}


/*Navegacion principal*/

nav.navegacion-principal {
    display: none;
    width: 100%;
    margin-top: 10px;
}

nav.navegacion-principal a {
    font-family: 'Lato', sans-serif; 
    /* color: #FFFFFF; */
    font-size: 1.3em;
    text-decoration: none;
    transition: all .6s ease;
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    clear: both;
}

nav.navegacion-principal a:hover {
    color: white;
    background: var(--main-first-color);
    border-radius: 10px;
}

nav.navegacion-principal a:last-child {
    background-color: var(--main-first-color);
    border-radius: 10px;
}

nav.navegacion-principal a:last-child:hover {
    color: #FFFFFF;
}

@media only screen and (min-width:768px) {
    nav.navegacion-principal {
        width: 67%;
        float: right;
        text-align: right;
        display: block;
    }
    nav.navegacion-principal a {
        margin-right: 10px;
        padding: 10px 10px;
        display: inline-block;
        width: auto;
        display: inline-block;
        text-align: center;
        margin: 0 20px 0 0;
    }
}


/**Menu movil**/

div.menu-movil {
    width: 60px;
    display: block;
    float: right;
    text-align: right;
    margin-top: 12px;
}

div.menu-movil:hover {
    cursor: pointer;
}

@media only screen and (min-width:768px) {
    div.menu-movil {
        display: none;
    }
}

div.menu-movil span {
    height: 8px;
    margin-bottom: 6px;
    background-color: #fff;
    display: block;
}

/*****Imagen principal****/

div.imagen_principal {
    float: right;
}


/*****NUESTRO APORTE****/

 .nuestro-aporte {
    padding-bottom: 60px;
}

.contenedor-aportes{
    width: 60%;
    margin: auto;

}
.contenedor-aportes img {
    width: 60%;
    margin: auto;
    padding-bottom: 30px;

}

.aporte {

    border: 2px var(--main-third-color) solid;
    border-radius: 30px;
    box-shadow: 5px 5px 10px #666;
    padding: 30px ;
    margin-bottom: 50px;
    text-align: center;
    
}



@media only screen and (min-width: 768px) {
    .nuestro-aporte {
        float: right;
        width: 20%;
    }
    .aporte {
        float: left;
        width: 30%;
    }
    .aporte {
        margin: 8px;
    }
}


/******CATEGORIAS*****/

body.categorias .navegacion-principal .activo {
    border-bottom: 2px solid #fe4918;
}

ul.lista-categorias li {
    padding: 10px;
    border-radius: 20px;
    float: left;
}

@media only screen and (min-width: 480px) {
    ul.lista-categorias li {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    ul.lista-categorias li {
        width: 33.3%;
    }
}

.categoria {
    position: relative;
    overflow: hidden;
}

div.categoria img {
    max-width: 100%;
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .5s ease-in-out;
}

div.categoria img:hover {
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.1);
}

.categoria p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 10px;
    margin: 0;
    background: var(--main-first-color);
    border-radius: 20px;
    width: 100%;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: 600;
    transition: all .5s ease-in-out;
}

.categoria:hover p {
    bottom: -80px;
    opacity: 0;
}


/****PROXIMOS EVENTOS***/

ul.lista-eventos>li {
    padding: 10px;
}

/* CONVIERTE LOS EVENTOS EN TARJETAS DE 3
@media only screen and (min-width: 768px) {
    ul.lista-eventos>li {
        float: left;
        width: 33.3%;
    }
} */

.tabla-evento {
    border: 1px solid var(--main-third-color);
    border-radius: 30px;
    background-color: var(--main-first-backround);
    padding: 40px 0;
    text-align: center;
    transition: all .3s ease;
}
.tabla-evento img {
    float: left;
}

.categoria1 {
    float: left;
    background-color: var(--main-second-color);
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 10px;
    padding: 10px 10px;
}

.categoria2 {
    float: left;
    background-color: var(--main-first-color);
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 10px;
    padding: 10px 10px;

}

.tabla-evento:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 50px #666;
}

.tabla-evento ul li {
    float: right;
    font-family: 'Lato', sans-serif; 
    font-size: 14px;
    margin-bottom: 20px;
    color: #868686;
    line-height: 26px;
}


.tabla-evento h3 {
    font-size: 16px;
    color: var(--main-second-color);
}



/*****ARTICULOS****/


.articulos {
    padding-bottom: 20px;
}

.articulo {
    font-family: 'Lato', sans-serif; 
    padding: 5px;
}

@media only screen and (min-width: 768px) {
    .articulo {
        float: left;
        width: 33.3%;
    }
}

blockquote {
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 20px;
    position: relative;
    margin: 0 0 10px 0;
    padding-bottom: 20px;
}

blockquote p {
    text-align: justify!important;
    font-size: 1.2em!important;
    font-family: 'Lato', sans-serif; 
    padding: 0 20px 0 65px;
}

footer.info-articulo {
    padding: 0;
    background: transparent;
}

footer.info-articulo img {
    float: left;
    border-radius: 50%;
    width: 20%;
    margin-left: 20px;
}

footer.info-articulo cite {
    text-align: left;
    color: #fe4918;
    font-size: 12px;
    padding-top: 20px;
    width: 66.6%;
    float: right;
    font-weight: bold;
    font-style: normal;
}

footer.info-articulo cite span {
    color: #000000;
    display: block;
    text-transform: none;
    margin-top: 5px;
}


/****Newsletter***/

.newsletter {
    background-image: url(../img/bg-newsletter.jpg);
    content: '';
    position: relative;
    height: auto;

}

/* .newsletter:before {
    background-image: url(../img/bg-newsletter.jpg);
    content: '';
} */

.newsletter .contenido {
    padding: 10px 0;
    color: #FFF;
    text-align: center;
    position: relative;
}

.newsletter .contenido p {
    font-size: 1.2em;
}

.newsletter .contenido h3 {
    color: #FFF;
    font-size: 7vw;
}

.newsletter .contenido h3 span {
    color:var(--main-first-color)
}



/***FOOTER***/

footer {
    background: white;
    padding-top: 40px;
    margin-top: 20px;
}

footer .contenedor>div {
    color: var(--main-third-color);
    padding: 0 20px;
    font-size: 12px;
}

@media only screen and (min-width: 768px) {
    footer .contenedor>div {
        width: 33.3%;
        float: left;
    }
}

footer h3 {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
}

footer h3 span {
    color: var(--main-first-color);
}

footer .ultimos-tweets li {
    margin-bottom: 10px;
}

footer nav.redes-sociales {
    text-align: left;
}

p.copyright {
    background: #2e2e2e;
    color: #fff;
    padding: 15px 0;
    margin: 20px 0;
    text-align: center;
}

p.copyright a {
    color: #fe4918;
    text-decoration: none;
}

p.copyright a:hover {
    border-bottom: 2px solid #fe4918;
}

.redes-sociales a:hover {
    color: #fe4918;
}


/****================================= INTERNAS ==================*/


/*CONFERENCIA*/

body.conferencia .navegacion-principal .activo {
    border-bottom: 2px solid #fe4918;
}

div.galeria a {
    display: inline-block;
    margin-bottom: 5px;
}


/****REGISTRO******/

form.registro h3 {
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0 0 0;
}

form.registro label {
    margin-bottom: 5px;
    font-weight: bold;
}

h4 {
    text-align: center;
    border-bottom: 2px solid #fe4918;
    padding: 10px;
    font-size: 1.2em;
}

div.caja {
    background-color: white;
    border: 1px solid #e1e1e1;
    padding: 10px;
    margin: 10px;
}

div.campo {
    padding: 20px;
}

div.campo label {
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
}

div.campo input {
    background-color: transparent;
    padding: 20px 50px;
}

div.campo input:focus {
    outline: 1px solid #fe4918;
}

.formulario_input:focus+.formulario_label {
    margin-top: 200px;
}

@media only screen and (min-width: 768px) {
    div.campo {
        float: left;
        width: 100%;
    }
}

div.paquetes .tabla-precio:hover {
    transform: none;
    box-shadow: none;
}

div.paquetes .tabla-precio input {
    clear: both;
    width: 100px;
    margin: 10px auto 0 auto;
    display: block;
}

.contenido-dia {
    padding: 20px;
    display: none;
}

@media only screen and (min-width: 768px) {
    .contenido-dia>div {
        width: 33.33%;
        float: left;
    }
}

.contenido-dia>div p {
    text-align: left;
}

.contenido-dia>div label {
    display: block;
    margin-bottom: 10px;
}

.contenido-dia>div input {
    margin-right: 10px;
}

.contenido-dia>div label time {
    color: #fe4918;
    font-weight: bold;
}


/*Resumen registro*/

.resumen p {
    font-size: 1.2em;
    text-transform: uppercase;
}

div.resumen div.extras {
    float: left;
    width: 50%;
    padding: 30px;
}

div.extras div.orden {
    text-align: left;
    margin-bottom: 10px;
}

div.extras div.orden input {
    margin: 10px 0 0 0;
}

div.resumen div.total {
    float: right;
    width: 50%;
    padding: 30px;
}

div.resumen input[type="button"],
.resumen input[type="submit"] {
    display: block;
    margin: 10px auto;
}

#lista-productos {
    background-color: #e1e1e1;
    padding: 20px;
    display: none;
}

#suma-total {
    text-align: center;
    font-size: 2em;
    color: #fe4918;
}

#error {
    clear: both;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: red;
    text-transform: uppercase;
    display: none;
}


/** Calendario **/

body.calendario .navegacion-principal .activo {
    border-bottom: 2px solid #fe4918;
}

div.calendario h3 {
    background-color: #fe4918;
    clear: both;
    color: white;
    text-align: center;
    padding: 10px 0;
}

div.calendario::after {
    clear: both;
    display: block;
    content: '';
}

div.dia {
    width: 50%;
    float: left;
    border: 2px solid #e1e1e1;
    transition: all .3s ease;
}

@media only screen and (min-width:768px) {
    div.dia {
        width: 33.3%;
        min-height: 240px;
        padding-top: 20px;
    }
}

div.dia:hover {
    background-color: #e1e1e1;
    -webkit-transform: scale(1.1);
}

div.dia p.titulo {
    color: #fe4918;
    text-transform: uppercase;
    font-weight: bold;
}

div.dia p {
    font-size: 1em;
}

div.dia i {
    color: #fe4918;
    font-size: 1.6em;
}


/** Colorbox **/

div.cboxElement {
    padding: 30px!important;
    text-align: center;
}


/** Formularios **/

.mensaje {
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}

.mensaje.error {
    border: 3px solid red;
}

form.login,
form.invitado {
    display: block;
}

@media only screen and (min-width: 480px) {
    form.login,
    form.invitado {
        width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 768px) {
    form.login,
}

@media only screen and (min-width: 768px) {
    form.invitado {
        width: 60%;
    }
}

form.login div.campo,
form.invitado div.campo {
    width: 100%;
    float: none;
    padding: 5px;
}

form.invitado input,
form.invitado textarea {
    width: 100%;
    border: 1px solid #cccccc;
}

form.invitado input[type="radio"] {
    width: auto;
}

form.invitado div.campo {
    margin-bottom: 10px;
}

form.invitado input#imagen {
    border: none;
}

form.login label,
form.invitado label {
    width: 80px;
    display: inline-block;
}


/** Admin **/

section.admin nav {
    padding: 20px;
    background-color: #fe4918;
    margin-bottom: 30px;
}

section.admin nav a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}

section.admin nav a:hover,
#filtros a.activo {
    border-bottom: 4px solid white;
}


/* TABLA REGISTRADOS */

table td {
    border: 1px solid #999999;
    border-collapse: collapse;
    padding: 20px;
}

table.registrados thead {
    background-color: #353535;
    color: white;
}

table.registrados thead th {
    padding: 10px;
}

table.registrados tr:nth-child(4n),
table.registrados tr:nth-child(4n-1) {
    background-color: #dcdcdc;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show  link {
        {s that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}