/*----GLOBALES----*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

*, *::before, *::after {
    box-sizing: inherit;}


html {
    color: rgb(0, 0, 0);
    font-size: 1em;
    line-height: 1.4;
    box-sizing: border-box;}

body {
    background-color: #ffffff;}

/*-----LETTERING-----*/
  :root {
    --main-first-color: rgb(255, 159, 83);
    --main-second-color: rgb(64, 2, 79);
    --main-third-color: rgba(218, 218, 218, 0.548);
    --main-fourth-color:rgb(254, 73, 24);
    --main-first-backround:rgb(245,249,252);
  }

h1{
    color: var(--main-second-color);
    font-family: 'Lato', sans-serif;
  }

h2 {
    font-family: 'Lato', sans-serif;
    color: var(--main-second-color);
    font-size: 2.4em;
    text-align: center;
  }

h3 {
    font-size: 1.8em;
    color: #fe4918;
    font-family: 'Lato', sans-serif;
    margin: 0;}

p {
    font-family: 'Lato', sans-serif;}

span {
    color: var(--main-first-color);
    font-weight: 600;}

/*-----CONTENEDORES-----*/

  @media only screen and (min-width: 480px) {
    .contenedor {
      /* border: 3px solid red; */
      width: 90%;
      margin: auto;
    }
  }

  @media only screen and (min-width: 768px) {
    .contenedor {
      width: 90%;
      max-width: 1100px;
      margin: 20px auto;
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 0.1fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 0.2fr 0.1fr;
      gap: 0px 0px;
      grid-template-areas:
        "header header header header header"
        "hero hero hero hero hero"
        "mision mision mision mision mision"
        "categorias categorias categorias categorias categorias"
        "charlas charlas charlas charlas charlas"
        "blog blog blog blog blog"
        "newsletter newsletter newsletter newsletter newsletter"
        "footer footer footer footer footer";
    }

    .header{
      grid-area: header; }

    .hero {
        grid-area: hero;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;}

    .mision {
      display: grid;
      grid-template-columns: 3fr 2fr;
      grid-template-rows:  1fr;
      gap: 0px 10px;
      grid-template-areas:
        "aportes nuestro-aporte";
      grid-area: mision; }

    .aportes{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr
      grid-area: aportes;}

    .nuestro-aporte {
      grid-area: nuestro-aporte; }

    .aporte {
      text-align: center;}

    .categorias {
      grid-area: categorias;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 0.8fr; }

    .lista-categorias{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0px 0px;
      grid-template-areas:
        "lista-categorias lista-categorias lista-categorias"
        "lista-categorias lista-categorias lista-categorias"
      grid-area: lista-categorias; }

    .charlas {
      grid-area: charlas;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 0.8fr;
      gap: 0px 0px;}


    .blog {
      grid-area: blog;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 0.8fr;
      gap: 0px 0px;}

    .articulos {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 0px 0px;
      grid-template-areas:
        "articulos articulos articulos"
      grid-area: articulos;
    }


    .newsletter {
      grid-area: newsletter; }

    .footer {
      grid-area: footer; }

  }


/*-----BOTONES-----*/

.boton-principal {
    font-family: 'Lato', sans-serif;
    background-color: var(--main-first-color);
    box-shadow: 5px -5px 3px rgb(194, 194, 194);
    padding: 10px 40px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 1em;
    margin-top: 20px;
    display: inline-block;
    border-radius: 10px;
}

.boton-secundario {
    font-family: 'Lato', sans-serif;
    background-color: var(--main-second-color);
    box-shadow: 5px -5px 3px rgb(194, 194, 194);
    padding: 10px 40px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    font-size: 1em;
    margin-top: 20px;
    display: inline-block;
    border-radius: 10px;
}

.boton-transparente{
  font-family:'Lato', sans-serif; ;
  color: white;
  background: transparent;
  border: 2px solid #FFFFFF;
  padding: 10px 50px;
  border-radius: 10px;
  text-decoration: none;}
  
.boton-principal:hover,
.boton-secundario:hover  {
    background-color: transparent;
    box-shadow:none;
    border: 2px solid var(--main-fourth-color);
    color: var(--main-fourth-color);
    border-radius: 10px;
}


.tag-clonacion, .tag-phishing {
  justify-content: center;
  background-color: var(--main-second-color);
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px 10px;
}


.tag-vishing {
  justify-content: center;
  background-color: rgb(228, 181, 51);
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px 10px;
}



/*----HEADER----*/ /*-----NAVEGACION PRINCIPAL-----*/

.header{
 display: flex;
 align-items: center;
 padding-left: 50px;
}

.logo p i {
  color: var(--main-first-color);}

.logo p {
  color: black;}

.logo a {
  text-decoration: none;
  display: flex;
  justify-items: left;
  align-items: center;
  font-size: 2em;
  min-height: 8vh;}

.logo p span {
  text-transform: uppercase;}

.navegacion-principal {
    font-family: 'Lato', sans-serif;
  }



  @media only screen and (min-width:768px) {
    .header{

    }
    .logo a {
      display: flex;
      align-items: center;
      font-size: 1.5em;
    }
    div.logo p {
    display: flex;
    align-items: center;
    align-content: center;
    }
  }


.enlaces-menu a {
  text-decoration: none;
  color: #000000;
  font-size: 1em;
  margin-right: 10px;
  transition: all .6s ease;
}
ul.enlaces-menu{
  color: white;
}

ul.enlaces-menu a:last-child {
    margin-right: 0;}


@media only screen and (min-width:768px) {

  .navegacion-principal{
    margin:0;}
  .logo {
    display: block;
    justify-content: left;
    margin-left: 30px;
    font-size: 1.2em;}

  nav.navegacion-principal a {
      margin-right: 10px;
      padding: 10px 10px;
      display: inline-block;
      width: auto;
      text-align: right;
      align-items: center;
      align-content: center;
      margin: 0 5px 0 0;
  }
}

  nav{
      display: flex;
      align-items:center;
      justify-content: space-around;
      min-height:8vh;
  }

  .ham{
    display:none;
    background-color:transparent;
    cursor: pointer;
    border:none;
    margin:0;
    padding:0;
    }

    .ham span{
        background-color: rgb(95, 95, 95);
        display:block;
        height:3px;
        width: 28px;
        margin:10px auto;
        border-radius:2px;}

  .enlaces-menu{
      display:flex;
      justify-items: flex-end;
      align-items: center;
      padding:0;}

  .enlaces-menu li{
      padding: 0 10px;
      list-style-type: none;
      transition: 0.3s;
      align-items: center;
    }

  .enlaces-menu li a{
      text-decoration: none;
      color: #000000;
      font-size: 1em;
      font-weight:600;
      margin-right: 5px;
      transition: all .6s ease;
      /* width: 100%; */
      display: block;
      text-align: center;
      margin-bottom: 20px;
      clear: both;
      align-items: center;

  }
  .enlaces-menu li :hover{

      color: white;
      background-color:var(--main-first-color);
      border-radius: 20px;
  }
  /* .enlaces-menu li:last-child{
    color: white;
  }

  .enlaces-menu li:last-child :hover{
    background-color: transparent;
    box-shadow:none;
    border: 2px solid var(--main-fourth-color);
    color: var(--main-fourth-color);
    border-radius: 10px;
  } */

/*-----MOBILE (desaparece menu )----*/
@media (max-width:768px) {

    .ham{
        display:block;
        cursor:pointer;
        position: absolute;
        top:15px;
        right:25px;
        transition: 0.2s  0.1s;}

    nav{
        flex-direction:column;
        align-items: flex-start;
        padding-top: 25px;
        padding-bottom: 25px;
      }

    .logo{
        padding-left:25px;}

    .enlaces-menu{
        flex-direction:column;
        justify-content: space-around;
        align-items:center;
        height: 92vh;
        margin:0;
        padding:0;
        display:none;
        opacity:0;
        transition: opacity 5s ease-out;
        width:100%;}

      .enlaces-menu li{
        text-align:center;
        width:100%;
        padding:10px;}
}

/* ---Animaciones---- */

@keyframes muestraMenu {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  .enlaces-menu.activado{
      display:flex;
      animation: muestraMenu 350ms ease-in-out both;
  }

  .br-1.animado{
    transform: rotate(-45deg) translate(-10px, 8px);
  }

  .br-2.animado{
    opacity: 0;
  }
  .br-3.animado{
    transform: rotate(45deg) translate(-10px, -8px);
  }

 .ham.girar:hover{
     transform:rotate(360deg);
 }


 /*-----HERO-----*/

.hero{
  display:grid;

  background-color: var(--main-third-color);
  border-radius: 30px;
  margin: 5px;
  padding: 50px 0px 50px 0px;
 }

.contenido-header a {
  display: grid;
  justify-items: center;
}
 .info-empresa{
  display: grid;
  justify-items: center;
  text-align: center;
  padding: 0 30px;
  text-align: justify;
 }

div.imagen_principal {
  width:300px;
  margin: 50px auto auto auto;

 }
/*     */
    /* Slideshow container */
    .slideshow-container {
      object-fit: cover;
      max-width: 1100px;
      position: relative;
      margin: auto;
      border-radius: 5px;
    }
    
    /* Hide the images by default */
    .mySlides {
      display: none;
    }
    
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
        
    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    
    /* The dots/bullets/indicators */
    .dot {
      /* position: absolute; */
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
      background-color: #717171;
    }
    
    /* Fading animation */
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }

 @media only screen and (min-width:768px) {
  .contenido-header{

    margin: 30px 30px 30px 30px;
    width: 50%;
    position: relative /*PADRE RELATIVE*/
   }

   .info-empresa{
    float: left;    
    padding: 30px 15px;
    text-align: justify;
   }
  
   .imagen_principal{
    position:absolute; /*position HIJO ABSOLUTE*/
    top: 90px;
    left: 650px;}

 }


/*----NUESTRO APORTE-----*/

.mision{
  margin: 50px 20px;
}
.nuestro-aporte{
  margin: 0 0 50px 0;
}
.nuestro-aporte h2 {
  margin: 10px;
}

.nuestro-aporte a {
  display: grid;
  justify-items: center;}

.nuestro-aporte p {
  text-align: center;
}
.aportes{
  margin: 50px 0 50px 0;
}
.aportes h3 {
  color: var(--main-second-color);
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px;
}

.aporte p {
  margin: 10px 10px;
  font-size: 0.8em;
  text-justify: inherit;
}

.aporte{
  text-align: center;
  border: 3px solid var(--main-third-color);
  border-radius: 25px;
  margin: 50px 0 50px 0;
  padding: 50px 30px;
  box-shadow: 5px 5px 10px #666;

}

@media only screen and (min-width:768px) {
.mision{
  margin: 60px 0;
}
.nuestro-aporte{
  margin-top: 50px;
}
.aportes{
  margin: 0;
}
.aporte{
  margin: 0 10px 0 0 ;
  padding: 50px 10px 0px 0px;}
}

/*-----CATEGORIAS-----*/

.categorias{
  min-height: 120vh;
  margin-top: 50px;
  padding: 20px 0px 20px 0px;}

.lista-categorias{
  margin-top: 50px;
  align-items: center;}

.lista-categorias li {
  display: flex;}

body.categorias .navegacion-principal .activo {
  border-bottom: 2px solid #fe4918;}

ul.lista-categorias li {
  margin: 0;
  padding: 0;
  padding: 10px;
  border-radius: 20px;
  float: left;
}
/*
ul.lista-categorias li:last-child {
  padding: 0;
  margin: 0;
} */

@media only screen and (min-width: 480px) {
  ul.lista-categorias li {
      width: 50%;}
}

@media only screen and (min-width: 768px) {
  ul.lista-categorias li {
      width: 90%;
      align-items: center;
      min-height: 50vh}
}
.categoria {
  position: relative;
  overflow: hidden;
}

div.categoria img {
  max-width: 100%;
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .5s ease-in-out;
}

div.categoria img:hover {
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.1);
}

.categoria p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px 10px;
  margin: 0;
  background: var(--main-first-color);
  border-radius: 20px;
  width: 100%;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-weight: 600;
  transition: all .5s ease-in-out;
}

.categoria:hover p {
  bottom: -80px;
  opacity: 0;
}


/*-----PROXIMOS EVENTOS----*/

.charlas{
  width: 100%;
}
div.tabla-evento{
  min-height: 50px;
}

ul.lista-eventos>li {
  list-style-type: none;
  }

.tabla-evento {
  border: 1px solid var(--main-third-color);
  border-radius: 30px;
  background-color: var(--main-first-backround);
  padding: 40px 20px;
  text-align: center;
  transition: all .3s ease;
}
.tabla-evento img {
 width: 100%;
}
.tabla-evento li {
  list-style-type: none;
  width: 100%;
}

.tabla-evento h3 {
  font-size: 1.5em;
  color: var(--main-second-color);
}

.tabla-evento:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 50px #666;
}

.tabla-evento ul li {
  float: right;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
  color: #868686;
  line-height: 26px;
}

@media only screen and (min-width: 768px) {
  .charlas{
    margin: 50px 0 50px 0;
  }

 ul.lista-eventos>li  {
      width: 100%;
      align-items: center;
      justify-items: center;}

 .tabla-evento img {
  width: 30%;
  float: left;
  align-items: center;
 }
 .tabla-evento li {
   list-style-type: none;
   width: 100%;
 }
 .tag-clonacion, .tag-phishing, .tag-vishing{
  float: left;
  border-radius: 10px;
  padding: 10px 10px;
  margin-left: 20px;
 }

}

/*****ARTICULOS****/


.articulos {
  padding-bottom: 20px;
  padding-top: 20px;
}

.articulo {
  font-family: 'Lato', sans-serif;
  padding: 5px;
}

@media only screen and (min-width: 768px) {
  /* .articulo {
      float: left;
      width: 33.3%;
  } */
}

blockquote {
  background: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  position: relative;
  margin: 0 0 10px 0;
  padding-bottom: 80px;
}

blockquote p {
  text-align: justify;
  font-size: 1.1em;
  font-family: 'Lato', sans-serif;
  padding: 0 20px 0 65px;
}

blockquote h4 {
  text-align: justify;
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
  padding: 0 20px 20px 20px;
}


footer.info-articulo {
  padding: 0;
  background: transparent;
}

footer.info-articulo img {
  float: left;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-left: 20px;
}

footer.info-articulo cite {
  text-align: left;
  color: #fe4918;
  font-size: 1em;
  padding-top: 20px;
  width: 66.6%;
  float: right;
  font-weight: bold;
  font-style: normal;
}

footer.info-articulo cite span {
  color: #000000;
  font-size:  0.8em;
  display: block;
  text-transform: none;
  margin-top: 5px;
}


/****Newsletter***/

.newsletter {
  background-image: url(/img/bg-newsletter.jpg);
  content: '';
  position: relative;
  height: auto;
  padding: 20px 0;

}

.newsletter .contenido {
  padding: 10px 0;
  color: #FFF;
  text-align: center;
  position: relative;
}

.newsletter .contenido p {
  font-size: 1.2em;
}

.newsletter .contenido h3 {
  color: #FFF;
  font-size: 7vw;
  padding-bottom: 20px;
}

.newsletter .contenido h3 span {
  color:var(--main-first-color)
}



/***FOOTER***/

footer {
  background: rgb(0, 0, 0);
  padding-top: 80px;
  margin-top: 20px;
  padding-bottom: 30px
}

footer .contenidofooter>div {
  color: var(--main-third-color);
  width: 50%;
  padding: 0 20px;
  font-size: 12px;
  float: left;
}

@media only screen and (min-width: 768px) {
  footer .contenidofooter>div {
      width: 33.3%;
      float: left;
  }
}

footer h3 {
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 20px;
}

footer h3 span {
  color: var(--main-first-color);
}
footer .contenidofooter:last-child{
  margin-top: 60px;   }

footer nav.redes-sociales {
  display: inline;
  float: left;
  text-align: left;
  color: white;
}
footer nav.redes-sociales a {
  color: white;
  width: 100%;
  margin-right: 50px;
}

p.copyright {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 0.5em;
}

p.copyright a {
  color: #fe4918;
  text-decoration: none;
}

p.copyright a:hover {
  border-bottom: 2px solid #fe4918;
}

.redes-sociales a:hover {
  color: #fe4918;
}
