body{
    font-family: Arial,Arial, Helvetica, sans-serif;
    background-color: ghostwhite;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Header - Logo */
.header-logo {
   padding: 10px;
    width: 50%;
    text-align:right;
}
.header-logo h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 200;
    font-size: 12px;
}
.logo {
    width: 50%;
    
}
/* Header - Social */
.social-media {
    display: flex;
    justify-content: space-between;
    width: 12%;
}
.social-media i {
    color: #b2b2b2;
    font-size: 20px;
    transition: color 0.25s;
}
.social-media i:hover {
    color: #000;
}

/* Header - Contact */
.header-contact a {
    color: #b2b2b2;
    text-align:right;
    text-decoration: none;
    padding: 5px;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: color 0.25s;
}
.header-contact a:hover {
    color: #000;
}
.nav {
 margin: 20px;
    font-size: 16px;
    font-weight:200;
    text-align: center;
    background-color:rgb(193, 186, 240) ;
    opacity:0.8;
    padding: 10px; 
    border-radius: 25px 0px 25px 0px; 
    -moz-border-radius: 25px 0px 25px 0px; 
    -webkit-border-radius: 25px 0px 25px 0px; 
    border: 4px ;
}
.nav ul {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
.nav li {
    list-style: none;
}
.nav a {
    text-decoration: none;
    padding: 20px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    transition: color 0.25s;
}
.nav a:hover {
    color: #000;
}

.chat-container{
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content:end;
  height:95vh;
  background-color:rgb(240, 236, 236);
  box-sizing: border-box;
  gap: 10px;
  padding: 30px;
}
.chat-container .bubble-container{
    display:flex;
    flex-direction: column;
    gap: 5px;
}
.chat-container .bubble-container.left {
    width: 55%;
    margin-right: auto;
}
.chat-container .bubble-container.right {
    width: 55%;
    margin-left: auto;
    align-items: flex-end;
}

.chat-container.bubble-container.bubble.bubble-text{
    color:black;
}
.chat-container .bubble-container.right .bubble .bubble-text > div {
   position: relative;
   background-color:rgb(249, 212, 177);
}
.chat-container .bubble-container.left .bubble .bubble-text > div {
    position: relative;
    background-color:rgb(193, 186, 240);
    display:inline-flex;
 }

 .chat-container .bubble-container .bubble .bubble-text > div {
  padding: 7px;
  border-radius: 6px;
  display: flex;
  align-items: flex-end;
  justify-content:space-between;
  }
.chat-container .bubble-container .bubble .bubble-text .bubble-info {
    font-size: 10px;
    color:rgba(102, 101, 101, 0.7);
    padding:0px 9px;
    text-align: right;
    width: 70px;
    min-width: 70px;
    max-width:70px;
    box-sizing: border-box;
}
.chat-container
  .bubble-container.left 
  .bubble:nth-child(1) 
  .bubble-text >div::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-right: solid 5px rgb(193, 186, 240);
    border-top: solid 5px rgb(193, 186, 240);
    border-left: solid 5px transparent;
    border-bottom: solid 5px transparent;
    left: -6px;
    top: 0;
}
.chat-container
  .bubble-container.right 
  .bubble:nth-child(1) 
  .bubble-text >div::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: solid 5px rgb(249, 212, 177);
    border-top: solid 5px rgb(249, 212, 177);
    border-right: solid 5px transparent;
    border-bottom: solid 5px transparent;
    right: -6px;
    top: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.body form{
    display:flex;
}
form input {
    flex: 1;
    width:440px;
    height:40px;
    border:none;
    outline:none;
    padding-left:5px;
    font-size: 16px;
    }
form button{
    width: 90px;
    height:40px;
    font-size: 18px;
    border:none;
    outline:none;
    background-color:rgb(193, 186, 240);
    color:gray;
    cursor: pointer;
}
form button:hover{
    background-color:violet;
    transition:0.2s ease;
}

/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color:rgb(249, 212, 177);
    margin: 30px 5px;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 150px;
    background-color:rgb(249, 212, 177) ;
}
.pie-pagina .grupo-1 .box h2{
    color:black;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color:black;
    margin-bottom: 9px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 35px;
    height: 40px;
    line-height: 40px;
    color: black;
    margin-right: 10px;
    background-color:rgb(193, 186, 240) ;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: violet;
}
.pie-pagina .grupo-2{
    background-color: rgb(193, 186, 240);
    padding: 15px 10px;
    text-align: center;
    color: black;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:700px){
    .pie-pagina .grupo-1{
        width: 80%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}






